
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="page-content">

    <div class="page-header">
        <h1>
            Dashboard
        </h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->


            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>

                <i class="ace-icon fa fa-check green"></i>

                Welcome to your dashboard
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-counter primary">
                                    <i class="fa fa-code-fork"></i>
                                    <span class="count-numbers">34</span>
                                    <span class="count-name">Positions</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card-counter danger">
                                    <i class="fa fa-ticket"></i>
                                    <span class="count-numbers">23s</span>
                                    <span class="count-name">Candidates</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card-counter success">
                                    <i class="fa fa-database"></i>
                                    <span class="count-numbers">34</span>
                                    <span class="count-name">Registered Voters</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card-counter info">
                                    <i class="fa fa-users"></i>
                                    <span class="count-numbers">24</span>
                                    <span class="count-name">Votes Cast</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>
